/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/* green - A6B56A */
/* white - F6F9E9 */
/* light grey - DADBD8 */
/* slate - 4F5456 */

.footer-container-menu {
    bottom: -45%;
    left: -1rem;
    position: relative;
    width: 100vw;
}

.hamburger-button {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 2rem ;
    margin: 2rem 0;
    width: 8rem ;
}

.hamburger-container {
    height: 8rem;
    margin: 0 2rem;
    max-height: 15vh;
    max-width: 15vw;
    position: absolute !important;
    width: 8rem;
    z-index: 100;
}

.hamburger-menu-dropdown {
    display: none;
    height: 85vh;
    padding-top: 3rem;
    position: relative;
    top: -1rem;
    width: 100vw;
    z-index: 200;
}

.header-footer-container{
    min-height: 15vh;
    min-width: 100vw;
}

.card-group * {
    border: 0;
    background-color: white;
}

.card-width {
    min-width: 12rem;
}

.nav-link-text {
    text-align: center;
}

.nav-logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 4rem ;
    margin: 2rem 0 2rem;
    width: 8rem ;
}

.footer-container-page {
    padding-top: 1rem;
    bottom: -1rem;
}

.social-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3rem;
    width: 3rem;
}

.blog-preview-image-container, .dividers-parent img {
    max-width: 75%;
    height: auto;
}

.blog-post-container {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.divider {
    margin: 0;
}

.dividers-parent{
    margin: 0 !important;
}

.dividers-parent div {
    /* width: 100vw; */
    padding: 1rem;
}

.menu-footer {
    z-index: 300 !important;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}

.overflow-unset {
    overflow-y: unset;
    overflow-x: hidden;
}

.page-content {
    margin-bottom: 26vh !important;
}

.icon-wrapper {
    position: relative;
    height: 2.75rem;
    width: 2.75rem;
}

.mail-icon-wrapper {
    position: relative;
    height: 2rem;
    width: 2.75rem;
}

.svg-icon {
    height: 100%;
    width: 100%;
}

.two-column-container * {
    column-count: 2;
    -ms-column-gap: 1.5rem;
    -webkit-column-gap: 1.5rem;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
}

.header-text-link:hover {
    text-decoration: none;
}

.header-text-type {
    max-width: 75%; 
}

/* media queries */

@media only screen and (max-width: 425px) {
    .hamburger-button {
        padding: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .desktop-nav * {
        display: none;
    }

    .nav-logo {
        margin: 1rem 0;
    }
}

@media only screen and (min-width: 769px) {
    /* For mobile phones: */
    .mobile-only {
        display: none;
    }
}
