/* green - A6B56A */
/* white - F6F9E9 */
/* light grey - DADBD8 */
/* slate - 4F5456 */

.footer-container-menu {
    bottom: -45%;
    left: -1rem;
    position: relative;
    width: 100vw;
}

.hamburger-button {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    height: 2rem ;
    margin: 2rem 0;
    width: 8rem ;
}

.hamburger-container {
    height: 8rem;
    margin-left: 2rem;
    max-height: 15vh;
    max-width: 15vw;
    position: absolute !important;
    width: 8rem;
    z-index: 100;
}

.hamburger-menu-dropdown {
    display: none;
    height: 85vh;
    padding-top: 3rem;
    position: relative;
    top: -1rem;
    width: 100vw;
    z-index: 200;
}

.header-footer-container{
    display: flex;
    justify-content: space-around;
    min-height: 15vh;
    min-width: 100vw;
}

.index-page-content {
    display: block;
}

.nav-link-text {
    text-align: center;
}

.nav-logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    height: 4rem ;
    margin: 2rem 0 2rem;
    width: 8rem ;
}

.footer-container-page {
    position: absolute;
    bottom: 0;
    z-index: 300;
}

.social-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    height: 3rem;
    width: 3rem;

}

/* media queries */

@media only screen and (max-width: 425px) {
    .hamburger-button {
        padding: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .desktop-nav * {
        display: none;
    }

    .nav-logo {
        margin: 1rem 0;
    }
}

@media only screen and (min-width: 769px) {
    /* For mobile phones: */
    .hamburger-container {
        display: none;
    }
}
